
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://i.ytimg.com/vi/z1xX47Dp8Jc/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#status-massage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(255, 0, 0);
    display: none;
    z-index: 9999;
    transition: background-color 0.5,opacity 0.5;
}

.msgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 20px;
    font-weight: bolder;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    width: 400px; 
    max-width: 90%;
    text-align: center;
    
    box-shadow: 
        0 0 5px #00bfff,
        0 0 15px #00bfff,
        0 0 30px #9933ff;
}


h2 {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 35px;
    font-size: bold;
    font-weight: 800;
}




.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-button {
    background: transparent;
    border: none;
    color: #777;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 10px;
}

.tab-button.active {
    color: #000000;
    border-bottom: 3px solid #00bfff;
    font-size: 50px;
    font-weight: bold;
}




.form-section {
    padding-top: 15px;
}

.hidden {
    display: none !important;
}

.input-group {
    margin-bottom: 20px;
    text-align: left; 
    width: 100%;
}

label {
    display: none; 
}

input {
    width: 100%; 
    padding: 7px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: left;
    border-color: black;
}

input:focus {
    border-color: #000000;
    box-shadow: 0 0 8px rgba(0, 191, 255, 0.5);
}



.auth-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    
    background: linear-gradient(90deg, #00bfff, #9933ff); 
    color: #fff;
    transition: background 0.3s, box-shadow 0.3s;
    
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
}

.auth-button:hover {
    background: linear-gradient(90deg, #00a0e6, #7a26cc); 
    box-shadow: 0 0 15px rgba(153, 51, 255, 0.8);
}

.switch-link {
    margin-top: 20px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.switch-link a {
    color: #020d10;
    font-weight: bold;
    text-shadow: 0 0 2px #00bfff;
}

.switch-link a:hover {
    text-decoration: underline;
}